footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-bg);
    height: 306px;
}

footer ul .list-style-none {
    list-style: none;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width:400px;
    height: 30px;
    list-style-type: disc;
    color: var(--font-color-branco);
}
footer li a{
    color: var(--font-color-branco);
}
footer li a:hover{
    color: var(--font-color-branco-opacidade);
}

footer p {
    color: var(--font-color-branco-opacidade);
    text-align: center;
    font-size: 12px;
}
footer p a {
    color: var(--font-color-branco-opacidade);
}

.icones-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0 0 24px 0;
}

@media screen and (min-width:601) and (max-width: 999px) {
    footer ul {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    footer ul {
        width: 100%;
    }
}