/* backgrund contato */
/* https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/background-contato.png */ 

.uppercase {
    text-transform: uppercase;
}

.background-inicio {
    background-color: var(--primary-bg);
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/engplan-background-principal.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 85vh;
}

/* background mobile */
@media screen and (max-width: 600px) {
    .background-inicio {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/engplan-background-principal-mobile.png);
    height: 60vh;
    margin: -1px;
    }
}

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

h1 {
    font-size: 38px;
    line-height: 67px;
    color: var(--font-color-branco);
}

/* Seção portfólio */


#portfolio h2 {
    text-align: center;
    margin: 44px 0;
}

#portfolio .container-fotos-portfolio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
}

@media screen and (max-width: 579px) {
    #portfolio .container-fotos-portfolio{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 580px) and (max-width: 855px) {
    #portfolio .container-fotos-portfolio{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:856px) and (max-width: 1150px) {
    #portfolio .container-fotos-portfolio{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 2560px){
    #portfolio .container-fotos-portfolio{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}



#portfolio .container-fotos-portfolio .conteudo-fotos-portfolio {
    width: 274px;
    height: 370px;
    margin: 0 auto;
}

#portfolio .container-fotos-portfolio .background-portfolio-1 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-2 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-3 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-4 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-5 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-6 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-7 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}
#portfolio .container-fotos-portfolio .background-portfolio-8 {
    background-image: url(https://raw.githubusercontent.com/PauloAdson/engenharia/main/assets/img/portfolio-imagem.png);
}

.botao-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px auto;
    background-color: var(--terciary-bg);
    color: var(--font-color-branco);
    font-weight: 600;
    width: 272px;
    padding: 16px 0;
    border-radius: 4px;
    transition: 500ms;
}

.botao-portfolio:hover {
    background-color: var(--primary-bg);
}
