.uppercase {
    text-transform: uppercase;
}

footer ul .list-style-none {
    list-style: none;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    width:400px;
    height: 30px;
    list-style-type: disc;
}