:root {
    --primary-bg: #021D29;
    --secundary-bg: #000000;
    --font-color-preto: #252525;
    --font-color-branco: #FFFFFF;
    --branco: #FFFFFF;
    --font-color-branco-opacidade: rgba(255, 255, 255, 0.70);
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-family: "Grandis", sans-serif;
}