:root {
    --primary-bg: #D9D9D9;
    --secundary-bg: #000000;
    --font-color-preto: #252525;
    --font-color-branco: #FFFFFF;
    --font-weight-black: 900;
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-family: "Grandis", sans-serif;
}